/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
} */

/* .triangle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #ece1b2;
    transform: skewY(-25deg);
    transform-origin: bottom right;
    z-index: -100;
  } */